/* default styling */
html, body {
  margin:0;
  padding:1px;
  font-family:Verdana;
  background-color: #101014;
  color:#ededf5;
}

/*no link underline*/
.noline {
  text-decoration: none;
}

/* loading screen */
#loading {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #401aaa;
  background-image: url("https://media.discordapp.net/attachments/945090218732716124/979602727862697994/IMG_5786.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown {
  position:relative;
  display:inline-block;
}

.dropdown-content {
  display:none;
  position:absolute;
  background-color:#222452;
  padding:7px;
  border-bottom:2px solid #edb415;
  border-left:2px solid #edb415;
  border-right:2px solid #edb415;
  border-radius:0px 0px 20px 20px;
  z-index:1;
}

.dropdown-content a {
  color:#ededf5;
  display:block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*line between dropdown options*/

.divider {
  flex-grow:1;
  margin: 3px;
  border-bottom: 1px solid #ededf5;
}

#container {
  max-width:900px;
  margin:0 auto;
  padding:10px;
  height:auto;
  background-color:#222452;
  margin-top:15px;
  border:2px solid #edb415
}

/*navigation buttons on top*/
#headernav { 
  max-width:50vw;
  position:fixed;
  top:5px;
  left:0px;
  right:0px;
  margin-left:auto;
  margin-right:auto;
}

#headerstyle {
  border:2px solid #edb415;
  border-radius:20px;
  font-variant:small-caps;
  background-color:#222452;
}

#headernav a {
  color:#ededf5;
  font-size:1.4em;
}

#headernav a:hover {
  color:#edb415;
}

#menu__toggle {
  opacity:0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 43px;
  left: 20px;
  width: 6vh;
  height: 6vh;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color:#edb415;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -20px;
}
.menu__btn > span::after {
  content: '';
  top: 20px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100vh;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #222452;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color:#ededf5;
  font-size: 20px;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color:#edb415;
}

#mobilebg {
  background-color:#222452;
  height:8vh;
  width:8vh;
  z-index:1;
  position:fixed;
  top:7px;
  left:11px;
  border-radius:10px;
}

#footercar {
  max-width: 800px;
  background-color:#222452;
  position:fixed;
  bottom:10px;
  left:0px;
  right:0px;
  margin-left:auto;
  margin-right:auto;
  border:2px solid #edb415;
  border-radius:20px;
  font-variant:small-caps;
}