/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

/**/
html, body {
  margin:0;
  padding:1px;
  font-family:Verdana;
  background-color: #101014;
  color:#ededf5;
}


.title {
  font-size:35px;
  text-align:center;
  color:#ededf5;
}

/*no button highlights*/
.btn:focus,.btn:active {
  outline: none;
  box-shadow: none;
}

/*no link underline*/
.noline {
  text-decoration: none;
}

/* loading screen */
#loading {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  background-image: url("https://media.discordapp.net/attachments/945090218732716124/979602727862697994/IMG_5786.gif");
  background-repeat: no-repeat;
  background-position: center;
}

/*dropdown stuff

<li class="dropdown">
  <a class="" href=""></a>
  <div class="dropdown-content">
    <a href=""></a>
  </div>
</li>

*/
.dropdown {
  position:relative;
  display:inline-block;
}

.dropdown-content {
  display:none;
  position:absolute;
  background-color:#222452;
  padding:7px;
  border-bottom:2px solid #edb415;
  border-left:2px solid #edb415;
  border-right:2px solid #edb415;
  border-radius:0px 0px 20px 20px;
  z-index:1;
}

.dropdown-content a {
  color:#ededf5;
  display:block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*line between dropdown options*/

.divider {
  flex-grow:1;
  margin: 3px;
  border-bottom: 1px solid #ededf5;
}

#container {
  max-width:900px;
  margin:0 auto;
  padding:10px;
  height:auto;
  background-color:#222452;
  margin-top:15px;
  border:2px solid #edb415
}

/*navigation buttons on top*/
#headernav { 
  max-width:1000px;
  background-color:#222452;
  position:fixed;
  top:10px;
  left:0px;
  right:0px;
  margin-left:auto;
  margin-right:auto;
  border:2px solid #edb415;
  border-radius:20px;
  font-variant:small-caps;
}

#headernav a {
  color:#ededf5;
  font-size:1.4em;
}

#headernav a:hover {
  color:#edb415;
}

.navrow {
  display:flex;
  justify-content:space-around;
}

#footercar {
  max-width: 800px;
  background-color:#222452;
  position:fixed;
  bottom:10px;
  left:0px;
  right:0px;
  margin-left:auto;
  margin-right:auto;
  border:2px solid #edb415;
  border-radius:20px;
  font-variant:small-caps;
}